<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <meta charset="UTF-8" />
    <title>Livros > Form</title>
</head>
<body>

<nav layout:fragment="header" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" th:href="@{/livros/list}">Livros</a></li>
        <li class="breadcrumb-item active" aria-current="page">Livro</li>
    </ol>
</nav>


<div layout:fragment="content" class="container col-md-6">
    <form id="livroForm" th:action="@{/livros/(form)}" method="post" th:object="${livro}" action="#" enctype="multipart/form-data" >

        <input type="hidden"  th:field="*{id}" />

        <div class="form-group">
            <img th:if="${livro.capa}" th:src="@{'/' + ${livro.capa}}" width="100px" />
        </div>

        <div class="form-group">
                <label for="pathCapa" >Capa do livro</label>
                <input type="file" name="capaurl" />
                <span th:if="${message}" style="color: red;" th:text="${message}">Message Error</span>
        </div>

        <div class="form-group">
            <label id="tituloInput">Título:</label>
            <input type="text" th:field="*{nome}" placeholder="Título" class="form-control" />
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span>
        </div>

        <div class="form-group">
            <label id="paginasInput">Total de Páginas:</label>
            <input type="number" min="0" max="9999" th:field="*{quantidadePaginas}" class="form-control" />
            <span th:if="${#fields.hasErrors('quantidadePaginas')}" th:errors="*{quantidadePaginas}">Quantidade de pagina Error</span>
        </div>

        <div class="form-group">
        <label for="staticAutor">Autor: </label>
                <select th:field="*{autor}">
                    <option th:each="autor : ${autores}" th:value="${autor.id}"
                            th:text="${autor.nome}">Nome do autor</option>
                </select>
        </div>

            <button type="submit" class="btn btn-info">Salvar</button>

    </form>
</div>
</body>
</html>
