<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Emprestimos > Realizar Novo</title>
</head>
<body>

<nav layout:fragment="header" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" th:href="@{/emprestimos/list}">Empréstimos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Realizar</li>
    </ol>
</nav>


<div layout:fragment="content" class="container col-md-12">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Capa</td>
            <td>#</td>
            <td>Título</td>
            <td>Qtde Páginas</td>
            <td>Ação</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${livros.empty}">
            <td colspan="5">Não há livros disponíveis para emprestar.</td>
        </tr>
        <tr th:each="livro : ${livros}">
            <td>
                <img th:if="${livro.capa}" th:src="@{'/' + ${livro.capa}}" width="100px" />
                <img th:unless="${livro.capa}" th:src="@{'../img/unless.jpg'}" width="100px" />
            </td>
            <td th:text="${livro.id}">1</td>
            <td th:text="${livro.nome}">Título</td>
            <td th:text="${livro.quantidadePaginas}">Quantidade de Páginas</td>
            <td>
                <a href="#" th:href="@{'/emprestimos/emprestar/'+${livro.id}}" class="btn btn-primary" title="Emprestar" > <i class="glyphicon glyphicon-plus"></i> Emprestar </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
