<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Meus Emprestimos > Listar</title>
</head>
<body>
<div layout:fragment="header">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Meus Empréstimos</li>
        </ol>
    </nav>
    <p>
        <a th:href="@{/emprestimos/novo}" class="btn btn-sm btn-info" title="Realizar Empréstimo">
            <i class="glyphicon glyphicon-plus"></i> Realizar Novo Empréstimo
        </a>
    </p>
</div>
<div layout:fragment="content">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>#</td>
            <td>Capa</td>
            <td>Livro</td>
            <td>Emprestado por</td>
            <td>Emprestado em</td>
            <td>Devolvido em</td>
            <td>Ação</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${emprestimos.empty}">
            <td colspan="7">Não há empréstimos realizados.</td>
        </tr>
        <tr th:each="emprestimo : ${emprestimos}" th:if="${emprestimo.usuario.getUsername()} == ${#httpServletRequest.remoteUser}">
            <td th:text="${emprestimo.id}">1</td>
            <td>
                <img th:if="${emprestimo.livro.getCapa()}" th:src="@{'/' + ${emprestimo.livro.getCapa()}}"
                     width="100px"/>
                <img th:unless="${emprestimo.livro.getCapa()}" th:src="@{'../img/unless.jpg'}" width="100px"/>

            </td>
            <td th:text="${emprestimo.livro.getNome()}">1</td>
            <td th:text="${emprestimo.usuario.getUsername()}">1</td>
            <td th:text="${emprestimo.dataEmprestimo}">Emprestado em</td>
            <td th:text="${emprestimo.dataDevolucao}">Devolvido em</td>
            <td th:if="${emprestimo.dataDevolucao} == null">
                <a href="#" th:href="@{'/emprestimos/devolver/'+${emprestimo.id}}" class="btn btn-primary"
                   title="Devolver"> <i class="glyphicon glyphicon-download"></i> Devolver </a>
            </td>
            <td th:if="${emprestimo.dataDevolucao} != null">
                <a href="#" class="btn btn-primary" disabled="disabled" title="Devolver">
                    <i class="glyphicon glyphicon-download"></i> Devolver </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
