<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>LIST</title>
</head>
<body>
<h1>Lista Basica</h1>
<h2>   Acesso Liberado <span sec:authentication="name"></span></h2>

<div>
    <ul>
        <li><a th:href="@{/usuarios/list}" href="#"> Lista Basica </a></li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" ><a th:href="@{/usuarios/listadmin}" href="#"> Lista Admin </a></li>
        <li><a th:href="@{/usuarios/logout}" href="#"> Logout </a></li>
    </ul>
</div>
</body>
</html>