<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8" />
    <title>Usuarios > Listar</title>
</head>
<body>

<div layout:fragment="header">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
        </ol>
    </nav>
</div>
<div layout:fragment="content">

    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Usuário</td>
            <td>Senha</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${usuarios.empty}">
            <td colspan="2">Não há usuarios cadastrados.</td>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.username}">Username</td>
            <td th:text="${usuario.password}">Password</td>
        </tr>
        </tbody>
    </table>

    <!--<table class="table table-bordered">-->
        <!--<tr th:each="usuario : ${usuarios}">-->
            <!--<td th:text="${usuario.username}">Username</td>-->
            <!--<td th:text="${usuario.password}">Password</td>-->
        <!--</tr>-->
    <!--</table>-->
    <p>Obs: *Para realizar um novo cadastro, favor deslogar e se registrar!</p>
    <p>**ROLES não aplicadas nesse projeto!</p>

</div>
</body>
</html>